<div class="card">
    <h2 class="card-title">
        Agregar nuevo referido
    </h2>
    <div class="code">
        <p>Tú Código Promocional: <b style="color: black;">{{code}}</b></p>
    </div>
    <!-- <div class="group">
    <input type="text" id="add-nombre-referido" class="texto" minlength="1"  autocomplete="off"
      pattern="[a-zA-Z]*" (keyup)="validateInputText('add-nombre-referido');disabledButton();verifyData()" required>
    <span class="bar"></span>
    <label>Nombre completo</label>
    <small class="small">Este campo solo acepta valores alfabeticos</small>
  </div> -->
    <!-- <div class="group">
    <input type="text" id="add-correo-referido" class="correo" autocomplete="off"
      pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
      (keyup)="validateInputText('add-correo-referido');disabledButton();verifyData()" required>
    <span class="bar"></span>
    <label>Correo electrónico</label>
    <small class="small">Ingresa un correo valido</small>
  </div> -->
    <!-- <div class="group">
    <input type="text" id="add-document-referido" class="numero" autocomplete="off" pattern="[0-9]*" minlength="9"
      maxlength="10" required (keyup)="validateInputText('add-document-referido');disabledButton();verifyData()">
    <span class="bar"></span>
    <label>Número de documento de identificación</label>
    <small class="small">Ingresa un numero de identificación válido</small> 
  </div>
  <div class="group">
    <div class="select">
      <select class="select-text" id="selectOffice" (change)="verifyData(); disabledButton()"  required>
        <option value="" disabled></option>
      </select>
      <span class="select-highlight"></span>
      <span class="select-bar"></span>
      <label class="select-label">Elige oficina</label>
    </div>
  </div>
  <div class="campaign-select">
    <h5>Selecciona producto</h5> -->
    <!-- <div class="imagenes">
      <img src="./assets/img/car.svg" id="p1" class="img-product" (click)="selectProduct();" alt="Crédito de vehículo" title="Crédito de vehículo">
    </div> -->
    <!-- <div class="imagenes">
      <input type="checkbox" name="tarjeta-credito" id="tarjeta-credito" (click)="selectProduct(); verifyData()">
      <img src="./assets/img/CDT.svg" id="p2" class="img-product" (click)="selectProduct();" alt="Producto CDT" title="Producto CDT">
    </div> -->
    <!-- <div class="imagenes">
      <img src="./assets/img/scholarship.svg" id="p3" class="img-product" (click)="selectProduct();" alt="Crédito Educativo" title="Crédito Educativo">
    </div> -->
    <!-- <div class="imagenes">
      <img src="./assets/img/cash.svg" id="p4" class="img-product" (click)="selectProduct();" alt="Crédito de libranza" title="Crédito de Libranza">
    </div> -->
    <!-- <div class="group">
      <label class="container">¿Es un nuevo referido?
        <input type="checkbox" id="newRefer">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="right">
    <button class="refer" id="refer"  (click)="addReferService();">Referir</button>
  </div>
</div>
  -->
    <!-- 
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="header">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3 class="title">Código de registro para tu referido</h3>
    </div>
    <div class="code">
      <p>{{code}}</p>
    </div>
  </div>
</div> -->