.card-title {
  margin-bottom: 10px;
}

.group {
  position: relative;
  margin: 20px 0;
}

div.group:nth-child(4) {
  margin: 6px 0;
}

.campaign-select > h5:nth-child(1) {
  margin-bottom: 20px;
  color: #999;
  font-weight: initial;
  font-size: 14px;
  margin-left: 2px;
}

input[type="text"],
input[type="password"],
textarea {
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  background: none;
  color: #000;
  font-size: 17px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

input:focus {
  outline: none;
}

input:valid ~ label {
  top: -14px;
  font-size: 15px;
  color: #000;
  transition: 300ms ease all !important;
}

input:valid {
  border-bottom: 1px solid green;
}

input:focus ~ label {
  top: -14px;
  font-size: 15px;
  color: black;
  transition: 300ms ease all !important;
}

input:focus ~ .bar:before {
  width: 100%;
}

input:required {
  box-shadow: none;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

input[type="date"] {
  color: #bdbdbd;
}

label {
  color: #999;
  font-size: 15px !important;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before {
  content: "";
  height: 1px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #03a9f4;
  transition: 300ms ease all;
  left: 0%;
}

.small {
  color: #f44336;
  display: none;
}

/* ---Images--- */
.campaign-select {
  padding: 10px 0;
}

.imagenes {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  border: none;
  opacity: 0;
  top: 13px;
  transform: scale(2);
  z-index: 1;
  cursor: pointer;
}
.imagenes img {
  width: 40px;
  cursor: pointer;
  opacity: 0.5;
}

/* ---Button--- */
.right {
  text-align: right;
}

.refer {
  margin-top: 10px;
  border: 2px solid #f2d621;
  color: #1b2d54;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.refer:disabled {
  cursor: not-allowed;
}

.refer:hover {
  background-color: #0f265cd6;
  border: 2px solid rgba(15, 38, 92, 0.839);
  font-weight: 500;
  color: #f2d621;
}

.select {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  width: 100%;
  outline: 0;
}

.select-text {
  outline: 0;
  text-transform: uppercase;
  font-size: 15px !important;
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c6c6c6;
}

/* Remove focus */
.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */
.select .select-text {
  appearance: none;
  -webkit-appearance: none;
}

.select:after {
  position: absolute;
  top: 18px;
  left: 95%;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label,
.select-text:valid ~ .select-label {
  color: rgb(76, 175, 80);
  top: -14px;
  transition: 300ms ease all;
  font-size: 15px;
}

/* BOTTOM BARS ================================= */
.select-bar {
  position: relative;
  display: block;
  width: 80%;
}

.select-bar:before,
.select-bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #03a9f4;
  transition: 0.2s ease all;
}

.select-bar:before {
  left: 50%;
}

.select-bar:after {
  right: 28%;
}

/* active state */
.select-text:focus ~ .select-bar:before,
.select-text:focus ~ .select-bar:after {
  width: 72%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  position: relative;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 50%;
  height: 100px;
}

.title {
  text-align: center;
}
.header {
  padding: 10px;
  background-color: #136e93;
  color: #fff;
}
/* 
.code {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  letter-spacing: 2px;
 } */

 .code{
  color: #4CAF50;
  top: -14px;
  font-size: 15px;
  padding: 0px 10px 0px 5px;
}
 
 .close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
 }
 
 .container {
  display: block;
  position: relative;
  padding-left: 35px;
  // margin-bottom: 40px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: all;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #002664;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 0px) and (max-width: 320px) {
}
