<div class="wrapper">
  <div class="container-general">
     <div class="cont-password" id="cont-password">
      <div class="container-img">
        <img src="../../assets/img/undraw_forgot_password_gi2d.svg" alt="">
      </div>
      <div class="container-text">
        <div class="title">
          <h3>Recupera tu contraseña</h3>
        </div>
        <div class="parrafo">
          <div class="group">
            <input type="password" class="password" id="new-password" (keyup)="validatePassword('new-password')"
              (input)="validatePassword('new-password')" autocomplete="off" required>
            <span class="bar"></span>
            <label>Nueva contraseña</label>
          </div>
          <div class="group">
            <input type="password" class="password" id="confirm-new-password"
              (keyup)="validatePassword('confirm-new-password')" (input)="validatePassword('confirm-new-password')"
              autocomplete="off" required> <span class="bar"></span>
            <label>Confirma nueva contraseña</label>
            <small class="small">
              Las contraseñas no coinciden
            </small>
          </div>
          <div *ngIf="statusEmail == false">
            <small class="small">
              La contraseña no se ha podido cambiar, vuelve a intentarlo.
            </small>
          </div>
        </div>
        <div class="button">
          <button id="password-btn" autocomplete="on"  disabled="true" (click)="changePasswordService()">Cambiar la contraseña</button>
        </div>
       
      </div>
    </div> 
    <div class="cont-success-password" id="cont-success-password">
      <div class="container-img">
        <img src="../../assets/img/undraw_confirmation_2uy0.svg" alt="">
      </div>
      <div class="container-text">
        <div class="title">
          <h3>La contraseña se ha cambiado correctamente</h3>
        </div>
        <div class="parrafo">
          ¡Ahora puedes iniciar sesión con tu contraseña actual!
        </div>
        <div class="button buttonconfirm">
          <button  (click)="redirectHome()">INICIAR</button>
        </div>
      </div>
    </div>
  </div>
</div>