<div class="wrapper">
    <div class="navImagen">
        <img src="./assets/img/logo-amari.svg" alt="">
    </div>
    <div class="container-general">
        <div class="form" style="display: none;">
            <div class="image">
                <img src="./assets/img/cambiar-contra.png" alt="">
            </div>
            <div class="title">
                Cambiar contraseña
            </div>
            <div class="inputs">
                <div class="group">
                    <input type="password" class="password" id="new-password" (keyup)="validatePassword()" (input)="validatePassword()" autocomplete="off" required>
                    <span class="bar"></span>
                    <label>Nueva contraseña</label>
                </div>
                <div class="group">
                    <input type="password" class="password" id="confirm-new-password" (keyup)="validatePassword()" (input)="validatePassword()" autocomplete="off" required> <span class="bar"></span>
                    <label>Confirma nueva contraseña</label>
                    <small class="small">
                  Las contraseñas no coinciden
                </small>
                </div>
            </div>
            <div class="button true">
                <button id="password-btn" (click)="changePasswordService()" disabled>Cambiar contraseña</button>
            </div>
        </div>

        <div class="cont-success-password" id="cont-success-password">
            <div class="container-img">
                <img src="./assets/img/password.png" alt="">
            </div>
            <div class="title">
                <h3>Tu contraseña</h3>
            </div>
            <div class="subtitle">
                se ha cambiado correctamente
            </div>
            <div class="smallText">
                ¡Ahora puedes iniciar sesión con tu contraseña actual!
            </div>
            <div class="button buttonconfirm">
                <button (click)="redirectHome()">Continuar</button>
            </div>
        </div>
    </div>
</div>
<app-footer [styleFooter]="2"></app-footer>