.container-general {
    display: flex;
    justify-content: center;
}

.navImagen {
    padding: 45px 0 0 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    font-family: 'OpenSans-Bold';
    color: #0F265C;
    line-height: 36px;
    margin-bottom: 20px;
}

.button {
    button {
        width: 207px;
        height: 48px;
        border: none;
        border-radius: 25px;
        color: #fff;
        background: #10133F 0% 0% no-repeat padding-box;
        font-family: 'Montserrat-Bold';
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }
    }
}

.container-img {
    margin-bottom: 20px;
}

.button.buttonconfirm {
    margin: 40px 0 50px 0;
}

.smallText {
    font-size: 16px;
    font-family: 'OpenSans-Regular';
    color: #666666;
}

.cont-success-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    margin-bottom: 15px;
}

.subtitle {
    font-family: 'OpenSans-Bold';
    font-size: 30px;
    color: #0F265C;
    margin-bottom: 20px;
}

.text {
    font-family: 'OpenSans-Regular';
    color: #666666;
    font-size: 16px;
    width: 467px;
    text-align: center;
}

.inputs {
    width: 100%;
}

.button.false {
    margin: 20px 0 50px 0;
}

.button.true {
    margin: 30px 0 50px 0;
}

input[type="text"],
input[type="password"],
textarea {
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    background: none;
    color: #000;
    font-size: 17px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

input:focus {
    outline: none;
}

input:valid~label {
    top: -14px;
    font-size: 15px;
    // color: rgb(76, 175, 80);
    color: #0000f3;
    transition: 300ms ease all !important;
}

input:valid {
    // border-bottom: 1px solid rgb(76, 175, 80);
    border-bottom: 1px solid #c0c0c0;
}

input:focus~label {
    top: -14px;
    font-size: 15px;
    // color: rgb(76, 175, 80);
    color: #0000f3;
    transition: 300ms ease all !important;
}

.small {
    color: #f44336;
    display: none;
}

input:focus~.bar:before {
    width: 100%;
}

input:required {
    box-shadow: none;
}

input[type="password"] {
    letter-spacing: 0.3em;
}

input[type="date"] {
    color: #bdbdbd;
}

label {
    color: #999;
    font-size: 15px !important;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before {
    content: "";
    height: 1px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #0000f3;
    transition: 300ms ease all;
    left: 0%;
}