<div class="container">
    <div class="first-section">
        <div class="triangle-top">
            <img src="./assets/img/figure-top_Mesa de trabajo 1.svg" alt="">
        </div>
        <div class="triangle-below">
            <img src="./assets/img/figure-below_Mesa de trabajo 1.svg" alt="">
        </div>
        <div class="circle">
            <div class="text">
                <div class="title">
                    ¡Hola!
                </div>
                <div class="subtitle">
                    Amigos Pichincha
                </div>
                <div class="smallTitle">
                    Es el programa de referidos del Banco, en el que tú como colaborador puedes <b>recibir bonificaciones.</b>
                </div>
                <div class="buttons">
                    <button id="log-in" (click)="openLogin()">
                        Iniciar sesión
                    </button>
                    <button id="sign-in" (click)="openSign()">
                        Regístrate aquí
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="second-section">
        <div class="textMiddle">
            <div class="textMid">
                ¡Contigo, con tus amigos y familiares seremos más!
            </div>
        </div>
        <div class="imageVoice">
            <img src="./assets/img/amigos-pichincha-4.png" alt="">
        </div>
    </div>
    <div class="third-section">
        <div class="title">
            <div>
                ¿Cómo referir a tus amigos y familiares?
            </div>
        </div>
        <div class="containerSteps">
            <div class="illustration">
                <img src="./assets/img/ilustra-inscripcion-01.svg" alt="">
            </div>
            <div class="steps">
                <ul>
                    <span class="number">1</span>
                    <li>Inicia sesión, una vez accedas a la plataforma consulta tu <b>código promocional</b> e ingresa el documento de identidad de la persona que vas a referir.</li>
                </ul>
                <ul>
                    <span class="number">2</span>
                    <li>Selecciona la <b>oficina de tu preferencia </b>para asignar el referido, si no la tienes selecciona <b>"Asignar por "Georeferenciación"</b></li>
                </ul>
                <ul>
                    <span class="number">3</span>
                    <li><b>Comparte el link con tu referido </b>para que ingrese a la página web y registre su información junto con tu código promocional.</li>
                </ul>
                <ul>
                    <span class="number">4</span>
                    <li>Aclarale a tu referido que es él como referido quien <b>debe registrar la información</b> para ser contactado por el Banco.</li>
                </ul>
                <ul>
                    <span class="number">5</span>
                    <li>Si el referido efectivamente toma el producto con el Banco <b> recibiras tu bonificación</b> con las condiciones establecidas.</li>
                </ul>
                <ul>
                    <span class="number">6</span>
                    <li>Disfruta de tu bonificación.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<modal-app></modal-app>
<app-footer></app-footer>