<div class="container">
    <div class="container-form">
        <div class="title">
            ¡Bienvenidos!
        </div>
        <div class="subtitle">
            Tus referidos de los últimos 6 meses
        </div>
        <div class="box-numbers">
            <div class="accept">
                <div class="titleBox">
                    Aceptados
                </div>
                <div class="number">
                    <!-- {{totalAccept}} -->
                    5
                </div>
            </div>
            <span class="line"></span>
            <div class="neg">
                <div class="titleBox">
                    Negados
                </div>
                <div class="number">
                    <!-- {{totalNeg}} -->
                    1
                </div>
            </div>
        </div>
        <div class="timeLine">
            <app-timeline></app-timeline>
        </div>
    </div>
</div>