.container {
    position: relative;
}

.section-white {
    height: 260px;
    background-color: #fff;
    .logo {
        padding: 45px 0 0 70px;
    }
}

.section-blue {
    height: 388PX;
    background-color: #10133F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    img {
        width: 48.7%;
        position: absolute;
        bottom: 64.5%;
        left: 29%;
        height: 350px;
    }
    .text {
        font-size: 30px;
        width: 506px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.3px;
        line-height: 36px;
        margin: 3.5% 0 2% 0;
    }
    .text p:nth-child(1) {
        font-family: 'Montserrat-Medium';
    }
    .text p:nth-child(2) {
        font-family: 'Montserrat-Bold';
    }
    .container-btns {
        width: 42.3%;
        display: flex;
        justify-content: space-between;
        margin-bottom: -35px;
        position: absolute;
        bottom: 90px;
    }
    .container-btns button {
        width: 255px;
        height: 59px;
        border-radius: 25px;
        opacity: 1;
        letter-spacing: 0.17px;
        border: none;
        font-size: 17px;
        cursor: pointer;
        font-family: 'Montserrat-Bold';
    }
    .container-btns button:nth-child(1) {
        background: #FFDD00 0% 0% no-repeat padding-box;
        color: #1C2565;
    }
    .container-btns button:nth-child(2) {
        color: #fff;
        border: 2px solid #FFFFFF;
        background-color: #10133F;
    }
}