.row.blue {
    background-color: #0f265c;
}

.row.blank {
    background-color: #fff;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    padding: 0;
    display: grid;
    justify-content: center;
}

.column.logos {
    img:nth-child(1) {
        margin: 20px auto 35px auto;
    }
    img:nth-child(2) {
        margin: 0 auto 30px 30px;
    }
}

.column.date {
    line-height: 18px;
    .info {
        font-size: 13px;
        font-family: Arial;
        text-align: center;
        width: 268px;
        margin: 35px auto 20px auto;
    }
    //Fondo blanco
    .blueDate {
        color: #0F265C;
        a {
            color: #0F265C;
        }
    }
    //Fondo azul
    .blankDate {
        color: #fff;
    }
    a {
        color: #fff;
    }
    .icons {
        margin: auto;
        img {
            margin: 0 12px;
        }
    }
}

.column.date.blue {
    color: #0f265c;
}

.column.browser {
    .titleBrowser {
        font-size: 13px;
        margin: 55px auto 15px auto;
    }
    .titleBrowser.blank {
        color: #FFFFFF99;
    }
    .titleBrowser.blue {
        color: #72787A;
    }
    .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
}

.allright {
    padding: 5px;
    text-align: center;
    font-size: 11px;
    color: #0F265C;
    background-color: #E0E0E0;
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat-Regular';
        span {
            margin: 0 2px;
        }
        .nameBank {
            font-family: 'Montserrat-Bold';
            margin-left: 3px;
        }
    }
}