<footer>
  <div class="footer">
    <div class="col">
      <div class="row">
        <img src="./assets/img/logo.svg" alt="logo-pichincha">
      </div>
      <img src="./assets/img/logo-superintendencia.svg" alt="">
    </div>
    <div class="col">
      <div class="row">
        <h4>Navegadores compatibles</h4>
      </div>
      <div class="footer-item">
        <div class="browsers">
          <img src="./assets/img/edge-flat.svg" alt="">
          <img src="./assets/img/chrome-flat.svg" alt="">
          <img src="./assets/img/firefox-flat.svg" alt="">
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row">
        <h4>Legal</h4>
      </div>
      <div class="footer-item"><a href="./assets/pdf/protección-de-datos-personales.pdf" target="_blank">Términos y condiciones</a></div>
    </div>
    <div class="col">
      <div class="row">
        <h4>Contacto</h4>
      </div>
      <div class="footer-item">Avenida de las Américas # 42-81</div>
      <div class="footer-item">PBX: (1) 6501000 | 01 8000 919918</div>
      <div class="footer-item">
        <div class="img-networks">
          <a href="https://www.facebook.com/bancopichinchacol" target="_blank"><img
                  src="./assets/img/001-facebook.svg" alt="Facebook Pichincha Colombia" width="23px"></a>
          <a href="https://www.instagram.com/bancopichinchacol/" target="_blank"><img
                  src="./assets/img/002-instagram.svg" alt="Instagram Pichincha Colombia" width="23px"></a>
          <a href="https://www.youtube.com/bancopichinchacol" target="_blank"><img
                  src="./assets/img/004-youtube.svg" alt="Youtube Pichincha Colombia" width="30px"></a>
      </div>
      </div> 
    </div>
  </div>
</footer>
