<div class="wrapper">
  <div class="container-general">
       <div class="cont-true" id="account-true">
      <div class="container-img">
        <img src="../../assets/img/undraw_order_confirmed_1m3v.svg" alt="">
      </div>
      <div class="container-text">
        <div class="title">
          <h3>¡Tu cuenta ha sido activada!</h3>
        </div>
        <div class="parrafo">
          <p>¡Felicitaciones! Tu cuenta ha sido activada. A partir de ahora puedes comenzar a hacer uso de los servicios
            ofrecidos en la plataforma.</p>
        </div>
        <div class="button">
          <a (click)="redirectHome()" target="_blank">INICIAR</a>
        </div>
      </div>
    </div> 
    <div class="cont-false" id="account-false">
      <div class="container-img">
        <img src="../../assets/img/undraw_cancel_u1it.svg" alt="Error">
      </div>
      <div class="container-text">
        <div class="title">
          <h3>!Oops¡...</h3>
        </div>
        <div class="parrafo">
          <p>Al parecer el link de confirmación ha expirado, te volveremos a enviar un nuevo link a tu correo corporativo.</p>
          <div class="group">
            <input type="text" id="documentUser" class="numero" maxlength="15"  autocomplete="off"
              pattern="[0-9]*" (keyup)="validateInputText('documentUser');" required>
            <span class="bar"></span>
            <label>Ingrese la cédula</label>
            <small class="small">Este campo solo acepta valores numéricos</small>
          </div>
        </div>
        <div class="button">
          <button  (click)="sendEmailConfirmationService()">Reenviar</button>
        </div>
        <div class="msg-resend">
          <small id="msg-resend">¡Se ha reenviado el link de activación de cuenta!</small>
        </div>
      </div>
    </div>
  </div>

</div>