<div class="wrapper">
    <div class="navImagen">
        <img src="./assets/img/logo-amari.svg" alt="">
    </div>
    <div class="container-general">
        <div class="form">
            <div class="cont-true" id="account-true">
                <div class="image">
                    <img src="./assets/img/activeaccount.png" alt="">
                </div>
                <div class="title">
                    ¡Felicitaciones!
                </div>
                <div class="subtitle">
                    ¡Tu cuenta ha sido activada!
                </div>
                <div class="text">
                    A partir de ahora puedes comenzar a hacer uso de los servicios ofrecidos en la plataforma.
                </div>
                <div class="button true">
                    <button (click)="redirectHome()">Iniciar</button>
                </div>
            </div>
            <div class="cont-false" id="account-false">
                <div class="image">
                    <img src="./assets/img/expirado.png" alt="">
                </div>
                <div class="title">
                    ¡Opss!...
                </div>
                <div class="subtitle">
                    El link de confirmación ha expirado
                </div>
                <div class="text">
                    Volveremos a enviar el enlace a tu correo corporativo.
                </div>
                <div class="input">
                    <div class="group">
                        <input type="text" id="documentUser" class="numero" maxlength="15" autocomplete="off" pattern="[0-9]*" (keyup)="validateInputText('documentUser', $event);" required>
                        <span class="bar"></span>
                        <label>Ingresar cédula</label>
                    </div>
                </div>
                <div class="button false">
                    <button id="resend">Reenviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer [styleFooter]="2"></app-footer>