<app-nav-bar></app-nav-bar>
<div class="container" style="display: none;">
    <div class="container-menu">
        <div class="img">
            <img src="./assets/img/img-menu.png" alt="">
        </div>
        <div class="menu">
            <app-control-menu></app-control-menu>
        </div>

    </div>
    <div class="components">
        <app-welcome *ngIf="isProgressWelcome"></app-welcome>
        <app-addRefer *ngIf="isProgressAddRefer"></app-addRefer>
        <app-myReferrals *ngIf="isProgressMyReferrals"></app-myReferrals>
        <app-myIncrease *ngIf="isProgressMyIncrease"></app-myIncrease>
        <app-redeem *ngIf="isProgressReedem"></app-redeem>
    </div>
</div>
<!-- Full container-->
<div class="wrapper">
    <app-calc-cdt></app-calc-cdt>
</div>
<app-footer [styleFooter]="2"></app-footer>