<app-nav-bar></app-nav-bar>
<div class="container" id="containerHome">
    <div class="container-circle">
        <div class="circle">
            <p>
                {{getCode()}}
            </p>
        </div>
    </div>


    <div class="container-menu">
        <div class="img">
            <img src="./assets/img/img-menu.png" alt="">
        </div>
        <div class="menu">
            <app-control-menu></app-control-menu>
        </div>

    </div>
    <div class="components">
        <app-welcome *ngIf="isProgressWelcome"></app-welcome>
        <app-addRefer *ngIf="isProgressAddRefer"></app-addRefer>
        <app-myReferrals *ngIf="isProgressMyReferrals"></app-myReferrals>
        <app-myIncrease *ngIf="isProgressMyIncrease"></app-myIncrease>
        <app-redeem *ngIf="isProgressReedem"></app-redeem>
    </div>
</div>
<!-- Full container-->
<div class="wrapper">
    <div class="container-circle" *ngIf="isProgressCalc || isProgressTable || isProgressCalcCe">
        <div class="circle">
            <p>
                {{getCode()}}
            </p>
        </div>
    </div>

    <app-calc-cdt *ngIf="isProgressCalc"></app-calc-cdt>
    <app-table-tcd *ngIf="isProgressTable"></app-table-tcd>
    <app-calc-ce *ngIf="isProgressCalcCe"> </app-calc-ce>
</div>
<app-footer [styleFooter]="2"></app-footer>