<div class="container">
    <div class="close">
        <img src="./assets/img/close-icon.svg" (click)="closeCalc()">
    </div>
    <div class="body">
        <div class="title">
            <p>
                Refiriendo este producto obtienes:
            </p>
        </div>
        <div class="boxGift">
            <div class="img">
                <img src="./assets/img/star-icon.png" alt="">
            </div>
            <div class="text">
                <b>1.000 puntos</b> por cada crédito educativo aprobado.
            </div>
        </div>
        <div class="title gift">
            Con los puntos acumulados puedes reclamar los siguientes premios:
        </div>
        <div class="question">
            ¿Qué premio quieres ganar?
        </div>

    </div>
    <div class="carrusel">
        <app-carousel list="carosuelItems"></app-carousel>
    </div>
</div>