.container {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 30px auto auto auto;
    border: 1px solid #707070;
    position: relative;
}

.close {
    position: absolute;
    right: 17px;
    top: 22px;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 50px auto 12px auto;
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    color: #0f265c;
}

.valueInv {
    width: 55%;
    margin-bottom: 50px;
    label {
        width: 100%;
        position: relative;
        padding-left: 10px;
        text-align: left;
        font: 13px OpenSans-Regular;
        letter-spacing: 0px;
        color: #8C8C8C;
        padding-top: 20px;
        padding-bottom: 7px;
        line-height: 19.5px;
        float: left;
    }
    input {
        box-sizing: border-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1.5px solid #0F265C;
        border-radius: 10px;
        width: 99%;
        height: 48px;
        float: left;
        padding-left: 20px;
        font-size: 18px;
        color: #666666;
    }
}

.container-day {
    margin-bottom: 50px;
    .titleCdt {
        font-size: 18px;
        font-family: 'OpenSans-SemiBold';
        color: #666666;
        margin-bottom: 20px;
        text-align: center;
    }
    .day {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            width: 99px;
            height: 80px;
            font-family: 'OpenSans-Regular';
            color: #72787A;
            border: 1.5px solid #1FFF7F;
            border-radius: 10px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 0 20px;
            cursor: pointer;
            background-color: #fff;
        }
        .box.active {
            background-color: #1FFF7F;
            color: #10133F;
            font-family: 'OpenSans-Bold';
        }
    }
}

.comition {
    .titleComition {
        font-family: 'OpenSans-SemiBold';
        font-size: 18px;
        color: #666666;
        margin-bottom: 20px;
        text-align: center;
    }
    .comitionBox {
        width: 467px;
        height: 68px;
        background-color: #E0E0E0;
        border-radius: 10px;
        margin-bottom: 50px;
        border: none;
        color: #10133F;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comitionBox.active {
        border: 1.5px solid #1FFF7F;
        background-color: #fff;
    }
}