<!-- The Modal -->
<div id="ModalTerms" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="cont-close">
      <span class="close" (click)="closeModal();">&times;</span>
    </div>
    <h2>Términos y condiciones</h2>
    <div class="container-text">
        <p>
          LAS DECLARACIONES Y AUTORIZACIONES CONTENIDAS EN EL PRESENTE DOCUMENTO, LAS IMPARTO OBRANDO EN NOMBRE PROPIO EN
          ESTE DOCUMENTO DE VINCULACIÓN.
        </p>
      
        <p>
          AUTORIZACIONES, DECLARACIÓN DE TITULARIDAD Y VERACIDAD DE LA INFORMACIÓN. Como la información aquí suministrada
          por mí es confidencial y básica para la vinculación como Cliente del BANCO PICHINCHA y la tramitación de esta
          solicitud, el BANCO PICHINCHA exige que todos los datos suministrados sean exactos y se puedan verificar.
          Obrando en la calidad indicada en el cuerpo de esta solicitud de vinculación declaro que la información
          suministrada concuerda con la realidad y asumo plena responsabilidad por la veracidad de la misma; cualquier
          inexactitud podrá acarrear su rechazo o la no aprobación de la vinculación al Banco y/o de la solicitud del (de
          los) producto(s), sin responsabilidad alguna por parte de BANCO PICHINCHA frente a terceros o al (a los)
          solicitante(s). Igualmente, doy certeza que toda la información aquí consignada es cierta y realizo la
          declaración de fuentes de fondos a la Entidad Financiera BANCO PICHINCHA con el propósito de que se pueda dar
          cumplimiento a lo señalado al respecto por la Superintendencia Financiera de Colombia, así como a las
          disposiciones legales y reglamentarias que regulan la materia. Yo, el firmante, identificado(a) con el documento
          de identificación relacionado en el cuerpo de esta solicitud, actuando en nombre propio, estando plenamente
          facultado al efecto, expresamente autorizo al BANCO PICHINCHA para que: 1. Se reserve el derecho de aceptar o
          rechazar la presente solicitud. 2. En el evento que el BANCO PICHINCHA tenga que cambiar las pólizas colectivas
          de vida y/o de automóviles tomadas por cuenta del deudor, acepto desde ya dicho cambio y las condiciones que
          apareje el mismo; para el efecto, el BANCO PICHINCHA informará a sus Clientes a través del medio que considere
          conveniente el cambio en las condiciones de coberturas, exclusiones y tarifas aplicables a dichas pólizas. 3. En
          el evento que el BANCO PICHINCHA tenga que cambiar la Entidad que respalda, avala y/o garantiza el cumplimiento
          de las obligaciones contraídas (FGA Fondo de Garantías S.A. (FGA), Garantías Comunitarias Grupo S.A. / GCG,
          Fondo Nacional de Garantías-FNG o cualquier otro de características similares), se acepta desde ya dicho cambio;
          para el efecto, el BANCO PICHINCHA informará a sus Clientes a través del medio que considere conveniente los
          cambios de condiciones que apareje el mismo. 4. Declaro que he sido debidamente informado por el BANCO PICHINCHA
          que las tarifas de los productos y/o servicios ofrecidos por esa Entidad Financiera podrán consultarse en todo
          momento en el sitio web www.bancopichincha.com.co. 5. Autorizo al BANCO PICHINCHA para que en el evento de
          negarse la presente solicitud de vinculación a productos y/o servicios, dicha Entidad destruya los documentos
          que se aportan como soporte de la misma, dejando al efecto constancia expresa de su destrucción.
        </p>
        
        <p>
   
          AUTORIZACIÓN PARA EL REPORTE Y CONSULTA DE INFORMACIÓN ANTE LOS OPERADORES DE BANCOS DE DATOS DE INFORMACIÓN
          FINANCIERA Y /O CREDITICIA (LEY 1266 DE 2008). Con la finalidad de que el BANCO PICHINCHA pueda dar trámite a la
          solicitud de vinculación y de contratación de productos, evaluar y estudiar mi comportamiento crediticio y
          comercial y mantener actualizada mi información financiera, crediticia y comercial ante los operadores de bancos
          de datos, autorizo al BANCO PICHINCHA para que: i) obtenga toda la información y referencias relativas a mi
          persona, a mi comportamiento crediticio y comercial, mis hábitos de pago, el manejo de la(s) cuenta(s)
          corriente(s) y de ahorros, de tarjetas de crédito, de otros productos financieros y/o de servicios contratados
          con el sector financiero y/o con el sector real y, en general, el cumplimiento dado a mis obligaciones; ii)
          consulte ante los operadores de bancos de datos, así como ante cualquier otra entidad de características
          similares que en el futuro se establezca, mi endeudamiento con el sector financiero u otros, así como la
          información comercial disponible sobre el cumplimiento dado a los compromisos adquiridos con dicho(s)
          sector(es); iii) incluya mi nombre, apellidos y tipo y número de mi documento de identificación, y demás
          información que se haga necesaria, en los archivos de deudores y obligados que llevan los operadores de bancos
          de datos, o cualquiera otra entidad que en el futuro se establezca con ese propósito, reportando el
          comportamiento positivo o negativo que se presente en la atención de las obligaciones a mi cargo. La
          autorización de reporte aquí establecida se hace extensiva a cualquier persona natural o jurídica que en el
          futuro llegue a ostentar la calidad de acreedor en relación con la(s) obligación(es) contraída(s) con el BANCO
          PICHINCHA; iv) consulte y procese mi información ante los operadores de bancos de datos y operadores de
          información y riesgo (Cifin, Experian, Covinoc, Fenalcheque) o cualquier otra que en un futuro se establezca; v)
          consulte, entregue o comparta mi información con personas jurídicas que administran bases de datos, para efectos
          de prevención y control de fraudes, lavado de activos, financiación de terrorismo y selección de riesgos; vi)
          remita vía correo electrónico y/o físico, según lo estime pertinente, a la(s) dirección(direcciones)
          suministradas por en el presente formulario de vinculación y/o en los registros de esa Entidad Financiera la
          notificación previa de que trata el artículo 21 de la Ley 1266 de 2008 y/o cualquier otra norma que lo modifique
          o adicione; vii) conserve, con las debidas actualizaciones y durante el período necesario señalado en la Ley, mi
          información crediticia; viii) reporte a las autoridades públicas, tributarias, aduaneras o judiciales, la
          información que requieran en el desarrollo de sus funciones; ix) ejerza el derecho de inspección para corroborar
          en cualquier tiempo que la información que he suministrado para la aprobación del (de los) producto(s) y/o
          servicio(s) es veraz, completa, exacta y actualizada; y, x) para que en el evento de negarse la solicitud de
          vinculación al Banco y/o el otorgamiento de uno o varios de los productos y/o servicios que éste ofrece, dicha
          Entidad destruya los documentos que se aportan como soporte de la respectiva solicitud, dejando al efecto
          constancia expresa de su destrucción.
        </p>
        <p>
          AUTORIZACIÓN PARA EL TRATAMIENTO DE LA INFORMACIÓN PERSONAL (LEY 1581 DE 2012). De manera libre, voluntaria y
        expresa autorizo al BANCO PICHINCHA para que lleve a cabo el tratamiento de mis datos personales. En virtud de
        dicha autorización de tratamiento, el BANCO PICHINCHA podrá recolectar, almacenar, usar, circular, transferir,
        trasmitir, suprimir y/o actualizar mis datos e información personal, la cual, es suministrada por mí a través de
        este formulario de vinculación. Mis datos e información personal podrán ser sujetos de tratamiento por el BANCO
        PICHINCHA, sus Encargados o Personas Responsables a quienes él les haya transmitido o transferido la
        información. En ese sentido, el tratamiento por la presente autorización permitido al BANCO PICHINCHA y a quien
        tenga la calidad de Encargado o Persona Responsable podrá tener por objeto las finalidades legítimas de: i)
        cumplir las obligaciones contractuales y reglamentarias, así como para la prestación de los servicios
        contratados; ii) atender y dar solución a las solicitudes, peticiones, quejas o reclamos formulados al Banco;
        iii) crear y actualizar los perfiles transaccionales; iv) realizar gestiones comerciales; v) ofrecer productos o
        servicios, propios o de terceros; vi) realizar labores para que se avalen, afiancen o garanticen las operaciones
        de crédito; vii) realizar labores para que se origine mi vinculación al Banco como Cliente de uno o varios
        productos y servicios financieros pudiendo compartir información con terceros, tales como, Compañías
        Aseguradoras, Intermediarios de Seguros, Instituciones Educativas, Concesionarios, Findeter, Bancoldex, Deceval,
        Bolsas de Valores, Entidades Avaladoras y/o Garantes de las obligaciones (como FGA Fondo de Garantías S.A.
        (FGA), Garantías Comunitarias Grupo S.A. / GCG, Fondo Nacional de Garantías S.A.- FNG, Fenalco o cualquier otro
        de características similares) y Entidades Públicas y/o Privadas de cualquier naturaleza con las que se tengan
        Convenios de Libranza y/u otro tipo de alianzas comerciales, entre otros; viii) realizar gestiones de cobranza;
        ix) informar sobre los cambios realizados a los productos y servicios del portafolio del Banco; x) informar
        sobre las campañas y estrategias promocionales y de mercadeo; xi) analizar las tendencias y comportamientos de
        consumo de los consumidores financieros; xii) recibir información, ofertas comerciales y publicitarias de
        productos del Banco y de aliados de éste; xiii) recibir cualquier tipo de información y/o comunicación que el
        Banco estime necesaria; y, xiv) se adelanten todos los procesos de relacionamiento con el cliente (soportados o
        no en tecnología), para un abordaje integral con todos mis productos y soluciones contratadas con el BANCO
        PICHINCHA, entre otros permitidos por la Ley. Conozco y entiendo que las respuestas a las preguntas sobre el
        tratamiento de datos sensibles son facultativas. Como Titular de la información tengo derecho a conocer,
        actualizar y rectificar mis datos personales, solicitar prueba de la autorización otorgada para el tratamiento
        de la información, informarme sobre el uso que se ha dado a los mismos, revocar la autorización, solicitar la
        supresión de mis datos cuando sea procedente y acceder en forma gratuita a los mismos. En virtud de la presente
        autorización el responsable del tratamiento de la información es BANCO PICHINCHA S.A.
        </p>
        
        <p>
          La presente autorización se hace extensiva a quien represente los intereses del BANCO PICHINCHA y a quien la
          Entidad ceda sus derechos, obligaciones o su posición contractual a cualquier título, en relación con los
          productos o servicios de los que soy titular.
        </p>
        <p>
          Para ejercer los derechos sobre sus datos personales puede comunicarse a la línea de Atención en Bogotá: 6501000
          o a Nivel Nacional al: 018000919918. Para conocer nuestra política de privacidad visite
          https://www.bancopichincha.com.co
        </p>
    </div>
    <div class="btn">
      <button (click)="closeModalWithCheck()">Acepto</button>
    </div>
  </div>
</div>