<div class="container">
    <div class="section-white">
        <div class="logo">
            <img src="./assets/img/logo-amari.svg" alt="">
        </div>
    </div>

    <div class="section-blue">
        <img src="./assets/img/ilustra-home-01.svg" alt="">
        <div class="text">
            <p>Te damos la bienvenida al</p>
            <p>programa de referidos.</p>
        </div>
        <div class="container-btns">
            <button id="imrefer" (click)="onSubmit($event)">Soy referido</button>
            <button id="imofficial" (click)="onSubmit($event)">Soy funcionario</button>
        </div>
    </div>
</div>
<app-footer [styleFooter]="2"></app-footer>