<div class="container">
    <div class="container-divs">
        <div class="group-div" id="groupDiv">
            <a class="item active" id="s1" (click)="onSubmit('s1', $event)">Inicio</a>
            <hr>
        </div>
        <div class="group-div">
            <a class="item" id="s2" (click)="onSubmit('s2', $event)">Nuevo referido</a>
            <hr>
        </div>
        <div class="group-div">
            <a class="item" id="s3" (click)="onSubmit('s3', $event)">Mis referidos</a>
            <hr>
        </div>
        <div class="group-div">
            <a class="item" id="s4" (click)="onSubmit('s4', $event)">Mis ganancias</a>
            <hr>
        </div>
        <div class="group-div">
            <a class="item" id="s5" (click)="onSubmit('s5', $event)">Redimir</a>
        </div>
    </div>
</div>
<div class="container-query" >
    <div class="group-div" id="groupDiv" >
        <img class="imgMenu" src="./assets/img/home.png"  alt="">
        <a class="item active" id="s1" (click)="onSubmit('s1', $event)">Inicio</a>
    </div>
    <div class="group-div" >
        <img class="imgMenu" src="./assets/img/referido.png"  alt="">
        <a class="item" id="s2" (click)="onSubmit('s2', $event)">Agregar referido</a>
    </div>
    <div class="group-div" >
        <img class="imgMenu" src="./assets/img/mis-referidos.png" (click)="onSubmit('s3', $event)" alt="">
        <a class="item" id="s3" (click)="onSubmit('s3', $event)">Mis referidos</a>
    </div>
    <div class="group-div" >
        <img class="imgMenu" src="./assets/img/mis-ganancias.png" (click)="onSubmit('s4', $event)" alt="">
        <a class="item" id="s4" (click)="onSubmit('s4', $event)">Mis ganancias</a>
    </div>
</div>