<nav>
    <div class="brand-image">
        <a href="https://bancopichincha.com.co/web/personas">
            <img src="./assets/img/logo-amari.svg" width="195" alt="Pichincha">
        </a>
    </div>
    <div class="container-text">
        <div class="log-out query">
            <a href="">Cerrar sesión</a>
        </div>
        <div class="text-code">
            <b>Código promocional</b>
            <p>Comparte este código con tus referidos</p>
        </div>
        <div class="circle">
            <p>{{getCode()}}</p>
        </div>
        <div class="log-out">
            <a href="">Cerrar sesión</a>
        </div>
    </div>
    <!-- <div class="brand_image">
        <a href="https://bancopichincha.com.co/web/personas">
            <img src="./assets/img/logo-amari.svg" width="190" alt="Pichincha">
        </a>
    </div>
    <div class="brand-image-query">
        <img src="./assets/img/logo-pequeño.png" alt="">
    </div>
    <div class="nav_options">
        <div class="titleNavbar" *ngIf="showView == 4">
            <p>¿Eres funcionario? Sé parte del programa</p>
        </div>
        <ul>
            <li *ngIf="showView == 1 || showView == 2 || showView == 3 " (click)="openCalculator()">
                <img class="imgCalculator" src="./assets/img/calculadora.svg" width="40px" title="Calculadora para producto CDT" alt="CalculadoraCDT">
            </li>
             <li *ngIf= "showView == 4"><input type="button" class="sign-in" id="sign-in" (click)="openSign();" value="Registrate ahora" ></li>
      <li *ngIf= "showView == 4"><input type="button" class="log-in"  id="log-in"  (click)="openLogin();" value="Iniciar sesión"></li>
             <li *ngIf= "path == '/ganancias' || path2 == '/referidos' || path3 == '/home'"><input type="button" class="redeem"  id="redeem"  value="Redimir" (click)="openRedimid();"></li> 
            <li *ngIf="showView == 1 || showView == 2 || showView == 3 "><input type="button" class="log-out" id="log-out" (click)="exit()" value="Cerrar sesión"></li>
        </ul>
    </div> -->
</nav>