<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div>
      <span class="numberOption">1</span> Digite el monto del CDT 
    </div>
    <input type="text" id="amount" class="inpMoney"  (keyup)="maskAmount('amount', 0, 1000000000, true)">
    <div>
      <span class="numberOption">2</span> Seleccione el plazo del CDT
    </div>

    <div id="myDIV" class="containerRange">
      <button class="btn active" name="budget" (click)="calcCdtRevenew('1')" value="1"><b class="numberDay">90-119</b>
        días</button>
      <button class="btn" name="budget" (click)="calcCdtRevenew('2')" value="2" active> <b class="numberDay">120-179</b>
        días</button>
      <button class="btn" name="budget" (click)="calcCdtRevenew('3')" value="3"> <b class="numberDay">180-359 </b> días </button>
      <button class="btn" name="budget" (click)="calcCdtRevenew('4')" value="4"> <b class="numberDay">360</b> días o más </button>
    </div>
    <div class="comition">
      <div class="valueComition">
        <span class="numberOption">3</span> 
        El valor de la comisión
      </div>
      <input type="hidden" id="comition" value="{{moneyPerComition}}">
      <div class="perComition">{{maskComition('comition', 0, 1000000000, true)}}</div>
    </div>

  </div>

</div>