<div class="container">
    <div class="triangle-top">
        <img src="./assets/img/figure-top_Mesa de trabajo 1.svg" alt="">
    </div>
    <div class="triangle-below">
        <img src="./assets/img/figure-below-referido_Mesa de trabajo 1.svg" alt="">
    </div>
    <div class="circle">
        <div class="text">
            <div class="title">
                ¡Hola!
            </div>
            <div class="subtitle">
                Ya casi eres amigo pichincha
            </div>
            <div class="smallTitle">
                Por favor selecciona el producto a solicitar.
            </div>
            <div class="carousel">
                <app-carousel style="display: flex;"></app-carousel>
            </div>
        </div>

    </div>
</div>
<app-footer [styleFooter]="1"></app-footer>