.div-canvas-1,
.div-canvas-2 {
  background-color: #fff;
  text-align: center;
  padding: 10px 5px;
  width: 230px;
  height: 270px;
  border-radius: 10px;
  border: 1px solid #73a839;
  border-bottom: 3px solid #73a839;
  margin: auto;
}

.div-canvas-2 {
  border: 1px solid #f44336;
  border-bottom: 3px solid #f44336;
}
.cards-revenues {
  /* display: flex; */
  display: none;
}

canvas {
  margin-top: 40px;
}

.header-card {
  text-align: left;
  padding: 0px 10px;
}

@media screen and (max-width: 1100px) {
  .div-canvas-1,
  .div-canvas-2 {
    width: 190px;
    height: 240px;
  }
  canvas {
    margin-top: 20px;
  }
}

@media screen and (max-width: 490px) {
  .div-canvas-1,
  .div-canvas-2 {
    width: 100%;
  }
}
