<div class="container">
    <div class="container-form">
        <div class="title">
            Elige el producto a referir
        </div>
        <div class="products">
            <div class="img">
                <img id="im1" (click)="selectProduct($event)" src="./assets/img/cdt.png" width="43px" alt="">
                <p id="p1" class="smallImg">CDT</p>
            </div>

            <div class="img">
                <img id="im2" (click)="selectProduct($event)" src="./assets/img/tarjeta-de-credito.png" width="53px" alt="">
                <p id="p2" class="smallImg">Tarjeta de Crédito</p>
            </div>
            <div class="img imageDisabled">
                <img id="im3" src="./assets/img/libranza.png" alt="">
                <p id="p3" class="smallImg">Libranza</p>
            </div>
        </div>
        <div class="form">
            <div class="row" id="formcdt">
                <div class="form-group">
                    <input-text [id]="'documentPerson'" [isValid]="isValid" [title]="'Número de documento del referido'" [details]="'CC'" [errorText]="'Tu número de documento parece no estar bien'" [control]="f.controls.documentPerson" [controlName]="'documentPerson'" [formGroup]="formRefer"
                        [maxLength]="11" [minLength]="10" [placeHolderText]="'Ej. 1014624713'" (keyup)="validateForm()">
                    </input-text>
                </div>
                <div class="form-group" [formGroup]="formRefer">
                    <label class="label" for="listOffice">Elige la oficina</label>
                    <select id="selectOffice" formControlName="office" control="f.controls.office" placeholder="Armeniaa" (click)="validateForm()">
                        <option class="placeholder" value="" disabled>Seleccione...</option>
                    </select>
                </div>
            </div>
            <div class="row-full" id="formtcd">
                <div class="form-group">
                    <input-text [id]="'documentPersonTcd'" [isValid]="isValid" [title]="'Número de documento del referido'" [details]="'CC'" [errorText]="'Tu número de documento parece no estar bien'" [control]="f.controls.documentPersonTcd" [controlName]="'documentPersonTcd'"
                        [formGroup]="formRefer" [maxLength]="11" [minLength]="10" [placeHolderText]="'Ej. 1014624713'" (keyup)="validateForm()">
                    </input-text>
                </div>
            </div>
            <!-- <div class="check">
                <input type="checkbox" id="newRefer">
                <label class="labelChk" for="newRefer">¿Es la primera vez que refieres este usuario para el producto?</label>
            </div> -->
            <div class="check">
                <label class="container">¿Es la primera vez que refieres este usuario para el producto?
                    <input type="checkbox" id="newRefer">
                    <span class="checkmark"></span>
                  </label>
            </div>

        </div>
        <div class="buttons">
            <button>Calcula tu CDT</button>
            <button id="buttonReffer" (click)="consumeService();">Referir</button>
        </div>
    </div>
</div>