<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="container-menu">
        <div class="img">
            <img src="./../../../../assets/img/img-menu.png" alt="">
        </div>
        <div class="menu">
            <app-control-menu></app-control-menu>
        </div>
    </div>
    <div class="components">
        <app-welcome *ngIf="isProgressWelcome"></app-welcome>
        <app-addRefer *ngIf="isProgressAddRefer"></app-addRefer>
        <app-myReferrals *ngIf="isProgressMyReferrals"></app-myReferrals>
        <app-myIncrease *ngIf="isProgressMyIncrease"></app-myIncrease>
    </div>
</div>
<app-footer></app-footer>