<div class="card-extensive">
    <h2 class="card-title">
        {{titleCard}}
    </h2>
    <div class="table-responsive">
        <table class="referrals-table">
            <thead>
                <tr>
                    <th class="head">Nombre</th>
                    <!-- <th class="head">Correo</th> -->
                    <th class="head">Identificación</th>
                    <th class="head">Fecha de inscripción</th>
                    <th class="head">Campaña</th>
                    <th class="head">Estado del producto</th>
                    <th class="head">Avance</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data; let i=index">
                <tr *ngIf="i == 1 || i == 2 || i == 3 || i ==  4">
                    <td>{{item.product.referral.name}}</td>
                    <!-- <td>{{item.email}}</td> -->
                    <td>{{item.product.referral.document}}</td>
                    <td>{{item.product.referral.dateCompletedForm}} </td>
                    <td>{{item.product.name}}</td>
                    <td>
                        <div [class]="statusStyle()" class="badge badge-pill">
                            {{item.product.confirmationState}}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="widget-content p-0">
                            <div class="percent-text">{{barPercentage(item.product.confirmationState)}}</div>
                        </div>
                        <div class="container-progress-bar">
                            <div class="progress-background">
                                <div [class]="barPercentageStyle()" [style.width]="barPercentage(item.product.confirmationState)"></div>
                            </div>
                        </div>
                    </td>
                    <!-- <td class="text-center">
                        <input type="button" value="Eliminar" class="input-button button-delete-table">
                    </td> -->
                </tr>
            </tbody>
        </table>
        <tbody class="treport">
            <div class="report">
                Ver reporte completo
            </div>
        </tbody>
        <br>
        <!-- <input type="button" value="Ver reporte completo" (click)="downloadPdfReferrals()" class="input-button button-view-complete-report"> -->
    </div>
</div>