<div class="card-extensive">
    <h2 class="card-title">
        {{titleCard}}
    </h2>
    <div class="table-responsive">
        <table class="referrals-table">
            <thead>
                <tr>
                    <th class="head">Nombre</th>
                    <!-- <th class="head">Correo</th> -->
                    <th class="head">Apellido</th>
                    <th class="head">Cédula</th>
                    <th class="head">Fecha de inscripción</th>
                    <th class="head">Campaña</th>
                    <th class="head">Estado</th>
                    <th class="head">Avance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Angie Margarita</td>
                    <td>Martínez Florez</td>
                    <td>10101236547</td>
                    <td>2020-05-05 16:19:02.0</td>
                    <td>CDT</td>
                    <td>Ace</td>
                    <!-- <td>{{item.name}}</td>
                    <td>{{item.email}}</td> 
                    <td>{{item.document}}</td>
                    <td>{{item.dateCompletedForm}} </td>
                    <td>{{item.product}}</td>
                    <td>
                        <div [class]="statusStyle()" class="badge badge-pill">
                            {{item.productState}}
                        </div>
                    </td> -->
                    <td class="text-center">
                        <div class="container-progress-bar">
                            <div class="progress-background">
                                <div [class]="barPercentageStyle()" [style.width]="barPercentage('ace')"></div>
                            </div>
                        </div>
                        <div class="widget-content p-0">
                            <!-- <div class="percent-text">{{barPercentage(item.productState)}}</div> -->
                            <div class="percent-text">{{barPercentage('ace')}}</div>
                        </div>

                    </td>
                    <!-- <td class="text-center">
                        <input type="button" value="Eliminar" class="input-button button-delete-table">
                    </td> -->
                </tr>
            </tbody>
        </table>
        <br>
        <!-- <input type="button" value="Ver reporte completo" (click)="downloadPdfReferrals()" class="input-button button-view-complete-report"> -->
    </div>
</div>