<div class="container">
    <h2 class="card-title">
        {{titleCard}}
    </h2>
    <div class="table-responsive">
        <table class="referrals-table">
            <thead>
                <tr>
                    <th class="head">Nombre</th>
                    <th class="head">Identificación</th>
                    <th class="head">Fecha de inscripción</th>
                    <th class="head">Campaña</th>
                    <th class="head">Estado del producto</th>
                    <th class="head">Avance</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data; let i=index">
                <tr *ngIf="i == 1 || i == 2 || i == 3 || i ==  4">
                    <td>{{item.product.referral.name}}</td>
                    <td>{{item.product.referral.document}}</td>
                    <td>{{item.product.referral.dateCompletedForm}} </td>
                    <td>{{item.product.name}}</td>
                    <td>
                        <div [class]="statusStyle()" class="badge badge-pill">
                            {{item.product.confirmationState}}
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="widget-content p-0">
                            <div class="percent-text">{{barPercentage(item.product.confirmationState)}}</div>
                        </div>
                        <div class="container-progress-bar">
                            <div class="progress-background">
                                <div [class]="barPercentageStyle()"
                                    [style.width]="barPercentage(item.product.confirmationState)"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <tbody class="treport">
            <div class="report">
                Ver reporte completo
            </div>
        </tbody>
        <br>
    </div>
    <div class="table" id="tableQuery">
        <div class="header-table">
            <th class="head">Nombre</th>
            <th class="head">Cédula</th>
            <th class="head">Estado</th>
        </div>
        <div class="body">
            <ul class="collapsible" *ngFor="let item of dateP">
                <li>
                    <div class="collapsible-header">
                        <div class="item-header"> <span class="arrow"><img src="./assets/img/angle-arrow-down.png" alt=""></span> {{item.nombre}}</div>
                        <div class="item-header">{{item.cedula}}</div>
                        <div class="item-header">{{item.confirmationState}}</div>
                    </div>
                    <div class="collapsible-body"><span>
                            <div class="item-body">
                                <label for="">Fecha de inscripción</label>
                                <div class="issueBody">{{item.fecha}}</div>
                            </div>
                            <div class="item-body">
                                <label for="">Campaña</label>
                                <div class="issueBody">{{item.campania}}</div>
                            </div>
                            <div class="item-body">
                                <label for="">Avance:</label>
                                <div class="advance">
                                    <div class="container-progress-bar">
                                        <div class="progress-background">
                                            <div [style.width]="barPercentage(item.confirmationState)"
                                                [class]="barPercentageStyle()"></div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="percent-text">{{barPercentage(item.confirmationState)}}</div>
                                    </div>

                                </div>

                            </div>
                        </span></div>
                </li>
            </ul>
        </div>
    </div>




</div>