<div class="card">
    <div class="timeline">
        <div *ngFor="let item of list; first as isFirst;let i=index">
            <div class="containerTimeline right" *ngIf="i == 0 || i== 1 || i == 2 || i == 3 || i == 4">
                <div class="content" style="display: flex;">
                    <p>
                        {{item}}{{getList()}} <small *ngIf="isFirst" class="new">Nuevo</small>
                        <!-- <img style="margin: 0 5px;" *ngIf="isFirst" width="35px" src="./assets/img/balloon.svg" alt="Nuevo"> -->
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>