<app-nav-bar [path]="path"></app-nav-bar>
<div class="divButton" (click)="returnHome()"><img src="./assets/img/multimedia-option.svg" class="arrowBack">
    <p>Regresar</p>
</div>
<!-- <div class="body-referrals">
  <div class="row1">
    <div class="left">
      <app-gain-chart titleChart="Crecimiento" lastMonths="Últimos 6 meses" titleProgressBar="Total ganancias"
        idCanvas="canvas-earnings-growth">
      </app-gain-chart>
      <div class="cards-profits">
        <app-card-profit-loss idCanvas="canvas-revenues-referrals" classProfit="div-canvas-1" typeCard="Expectativa de ingresos">
        </app-card-profit-loss>
        <app-card-profit-loss idCanvas="canvas-standby-referrals" classProfit="div-canvas-2" typeCard="Ingresos pendientes">
        </app-card-profit-loss>
      </div>
      <br>
      <input type="button" class="exportPDF" (click)="downloadPdfReferrals()" value="">
    </div>
    <div class="right">
      <app-timeline>
      </app-timeline>
    </div>
  </div>
</div> -->
<app-footer></app-footer>
<!--
<app-card-profit-loss profit="$117.355" profitType="COP" description="Ingresos" backgroundColor="transparent"
  borderColor="#73a839" pointBorderColor="#73a839" pointBackgroundColor="#FFF" pointHoverBackgroundColor="#FFF"
  pointHoverBorderColor="#73a839" label="Ingresos" [data]="dataAppCardProfitLoss">
</app-card-profit-loss>

<app-card-profit-loss profit="$47.368 " profitType="COP" description="En espera" backgroundColor="transparent"
  borderColor="#f44336" pointBorderColor="#f44336" pointBackgroundColor="#FFF" pointHoverBackgroundColor="#FFF"
  pointHoverBorderColor="#f44336" label="En espera" [data]="dataAppCardProfitLossRed">
</app-card-profit-loss> 
-->