<!-- <app-nav-bar [path]="path"></app-nav-bar> -->
<modal-app></modal-app>
<div class="wrapper">
    <div class="triangleTop">
        <img src="./../../../../../assets/img/triangletop.svg" alt="">
    </div>
    <div class="triangleBottom">
        <img src="./../../../assets/img/trianglebottom.svg" alt="">
    </div>
    <div class="boxForm">
        <div class="container-form">
            <div class="imgHeader">
                <img src="./../../../assets/img/logo-amari.svg" alt="">
            </div>
            <div class="title">
                <h3>Ayúdanos diligenciando la siguiente información</h3>
            </div>
            <div class="form">
                <div class="row-full">
                    <div class="group">
                        <input type="text" class="texto" id="name-refered" (keyup)="validateInputText('name-refered');validateData();disabledButton(); onlyLetters($event)" autocomplete="off" maxlength="45" required>
                        <span class="bar"></span>
                        <label>Nombres completos</label>
                        <small class="small">Nombre inválido</small>
                    </div>
                </div>
                <div class="row">
                    <div class="group">
                        <input type="text" class="numero" id="numdocumentrefered" (keyup)="validateInputText('numdocumentrefered');validateData();disabledButton();onlyNumbers($event)" autocomplete="off" maxlength="12" required>
                        <span class="bar"></span>
                        <label>Número de documento</label>
                        <small class="small">Número de documento inválido</small>
                    </div>
                    <div class="group">
                        <app-calendar id="calendar" placeholder="Fecha de expedición" (change)="getValue($event)">
                        </app-calendar>
                    </div>
                </div>

                <div class="row">
                    <div class="group">
                        <div class="select">
                            <select class="select-text" id="department-refered" (change)="validateData(); disabledButton(); onlyLetters($event); optionCiudades('department-refered')" required>
                  <option value="" disabled></option>
                  <option class="" value="amazonas"> Amazonas </option>
                  <option class="" value="antioquia"> Antioquia </option>
                  <option class="" value="arauca"> Arauca </option>
                  <option class="" value="Atlántico"> Atlántico </option>
                  <option class="" value="Bolívar"> Bolívar </option>
                  <option class="" value="Boyacá"> Boyacá </option>
                  <option class="" value="caldas"> Caldas </option>
                  <option class="" value="Caquetá"> Caquetá </option>
                  <option class="" value="casanare"> Casanare </option>
                  <option class="" value="cauca"> Cauca </option>
                  <option class="" value="cesar"> Cesar </option>
                  <option class="" value="Chocó"> Chocó </option>
                  <option class="" value="Córdoba"> Córdoba </option>
                  <option class="" value="cundinamarca"> Cundinamarca </option>
                  <option class="" value="Guainía"> Guainía </option>
                  <option class="" value="guaviare"> Guaviare </option>
                  <option class="" value="huila"> Huila </option>
                  <option class="" value="La Guajira"> La Guajira </option>
                  <option class="" value="Magdalena"> Magdalena </option>
                  <option class="" value="meta"> Meta </option>
                  <option class="" value="nari"> Nariño </option>
                  <option class="" value="Norte de Santander"> Norte de Santander </option>
                  <option class="" value="putumayo"> Putumayo </option>
                  <option class="" value="quindío"> Quindío </option>
                  <option class="" value="risaralda"> Risaralda </option>
                  <option class="" value="San Andrés y Providencia"> San Andrés y Providencia </option>
                  <option class="" value="santander"> Santander </option>
                  <option class="" value="sucre"> Sucre </option>
                  <option class="" value="tolima"> Tolima </option>
                  <option class="" value="Valle Del Cauca"> Valle Del Cauca </option>
                  <option class="" value="Vaupés"> Vaupés </option>
                  <option class="" value="vichada"> Vichada </option>
                </select>
                            <span class="select-highlight"></span>
                            <span class="select-bar"></span>
                            <label class="select-label">Departamento de residencia</label>
                        </div>
                    </div>
                    <div class="group">
                        <div class="select">
                            <select class="select-text" id="city-refered" (change)="validateData(); disabledButton();" required>
                </select>
                            <span class="select-highlight"></span>
                            <span class="select-bar"></span>
                            <label class="select-label">Ciudad de residencia</label>
                        </div>
                        <small class="small">Ciudad inválido</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="group">
                    <input type="text" id="address-refered" (keyup)="validateData(); disabledButton()" maxlength="40" autocomplete="off" required>
                    <span class="bar"></span>
                    <label>Dirección de residencia</label>
                    <small class="small">Dirección de residencia inválida</small>
                </div>
                <div class="group">
                    <input type="text" class="correo" id="emailrefered" (keyup)="validateInputText('emailrefered');validateData(); disabledButton()" autocomplete="off" required>
                    <span class="bar"></span>
                    <label>Correo electrónico</label>
                    <small class="small">Correo electrónico inválido</small>
                </div>
            </div>
            <div class="row">
                <div class="group">
                    <input type="text" class="numero" id="numcelrefered" (keyup)="validateInputText('numcelrefered');validateData(); disabledButton(); onlyNumbers($event)" autocomplete="off" maxlength="15" required>
                    <span class="bar"></span>
                    <label>Número de celular</label>
                    <small class="small">Número de celular inválido</small>
                </div>
                <div class="group">
                    <input type="text" id="codeProm" (keyup)="validateInputText('codeProm');validateData(); disabledButton()" maxlength="5" autocomplete="off" required>
                    <span class="bar"></span>
                    <label>Código de referido</label>
                </div>
            </div>

            <div class="row-full">
                <div class="group" style="width: 100%;">
                    <label class="container" id="label-check">Autorizo con la finalidad de contactarme para el desarollo de actividades de publicidad y promoción de productos y servicios.
                <input type="checkbox" id="accept-terms-refered" (click)="viewModal();validateData() ">
                <span class="checkmark"></span>
              </label>
                </div>
                <div class="group" style="width: auto;">
                    <button id="registrar-refered" (click)="acceptReferService()">Enviar</button>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="imgFriends">
            <img src="./../../../assets/img/imgformcdt.png" alt="">
        </div>
    </div>


    <!-- <div id="container-terms" style="display: none;">
    <modal-app-terms></modal-app-terms>
  </div> -->

    <!-- The Modal -->
    <div id="ModalTerms" class="modal">
        <div class="modal-content">
            <div class="cont-close">
                <span class="close" (click)="closeModal();validateData();">&times;</span>
            </div>
            <h2>Términos y condiciones</h2>
            <div class="container-text">
                <embed src="./assets/pdf/Aceptación de Términos y Condiciones.pdf" type="">
            </div>
            <div class="btn">
                <button (click)="closeModalWithCheck()">Acepto</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>