.container-img {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.carousel {
    overflow: visible !important;
}

.carousel-item {
    width: 258px !important;
    height: 326px;
    background-color: #fff;
    border: 1px solid #0F265C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    perspective: 600;
    cursor: pointer;
    .container-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    img {
        height: 153px;
        width: 125px;
    }
    .smallImg {
        font-family: 'OpenSans-Bold';
        color: #0F265C;
        margin-top: 15px;
        letter-spacing: 0.11px;
        font-size: 13px;
        margin-top: 40px;
        padding: 0 10px;
    }
    .enabled {
        font-size: 14px;
        font-family: "OpenSans-Bold";
        color: #0f265c;
    }
    hr {
        margin: 7px 0 10px 0;
        color: #0F265C;
    }
    .title {
        font-family: 'OpenSans-Regular';
        font-size: 16px;
        color: #666666;
        letter-spacing: 0px;
        text-align: left;
        padding: 0px 10px;
    }
}

.carousel-item.active {
    img {
        height: 219px;
        width: 179px;
        // object-fit: contain;
    }
    .smallImg {
        margin-top: -10px;
    }
}

.carousel-item.active {
    img {
        height: 219px;
        width: 179px;
        // object-fit: contain;
    }
    .smallImg {
        margin-top: -10px;
    }
}